In [1]:
# üìì Berlin Schools Transformation Notebook (Step 2)
# For PR branch: `schools-data-transformation`

import pandas as pd
import numpy as np

In [3]:
# üîπ Load the input CSV file
input_path = r"C:\Users\Maxdesk\Desktop\Webeet\berlin_schools\final\bs.csv"
df = pd.read_csv(input_path)
df

,bsn,school_name,school_type_de,ownership_en,school_category_de,district,neighborhood,postal_code,street,street_number,...,students_f,students_m,teachers_total,teachers_f,teachers_m,startchancen_flag,lon,lat,geometry,siz
0,01A04,Berlin-Kolleg,Kolleg,Public,Andere Schule,Mitte,Moabit,10551.0,Turmstra√üe,75,...,NaN,NaN,NaN,NaN,NaN,False,13.334,52.527,POINT (386980.2241443703 5820959.515004491),109.0
1,01B01,"OSZ Banken, Immobilien und Versicherungen",Oberstufenzentrum,Public,Berufsschule,Mitte,Moabit,10557.0,Alt-Moabit,10,...,642.0,961.0,76.0,41.0,35.0,False,13.358,52.524,POINT (388600.65296027344 5820588.54277481),46.0
2,01B02,Staatliche Technikerschule Berlin,Fachschule,Public,Berufsschule,Mitte,Moabit,10555.0,Bochumer Stra√üe,8B,...,56.0,424.0,57.0,25.0,32.0,False,13.338,52.523,POINT (387241.3159702483 5820508.37647375),87.0
3,01B03,"OSZ Kommunikations-, Informations- und Medient...",Oberstufenzentrum,Public,Berufsschule,Mitte,Gesundbrunnen,13359.0,Osloer Stra√üe,23,...,310.0,916.0,82.0,40.0,42.0,True,13.380,52.557,POINT (390175.5079227147 5824225.128563027),118.0
4,01B04,OSZ Gesundheit I,Oberstufenzentrum,Public,Berufsschule,Mitte,Wedding,13349.0,Schwyzer Stra√üe,6,...,2564.0,338.0,94.0,65.0,29.0,False,13.353,52.558,POINT (388347.768873411 5824377.790948193),110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
922,06P08,Sancta-Maria-Schule der Hedwigschwestern,"F√∂rderschwerp. ""Lernen""u.""Geistige Entwickl.""",Private,Privatschule,Steglitz-Zehlendorf,Nikolassee,14109.0,Dreilindenstra√üe,24,...,NaN,NaN,NaN,NaN,NaN,False,13.194,52.422,POINT (377191.5220753118 5809510.096034511),361.0
923,06P21,Internationale Montessorischule Berlin (Grunds...,Grundschule,Private,Privatschule,Steglitz-Zehlendorf,Wannsee,14109.0,Zum Heckeshorn,38,...,NaN,NaN,NaN,NaN,NaN,False,13.163,52.430,POINT (375106.3136613137 5810452.951642908),377.0
924,06Y04,Dreilinden-Gymnasium,Gymnasium,Public,Gymnasium,Steglitz-Zehlendorf,Nikolassee,14109.0,Dreilindenstra√üe,49,...,369.0,397.0,72.0,46.0,26.0,False,13.188,52.421,POINT (376780.76676356036 5809409.0911068125),361.0
925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,203194.0,222876.0,35636.0,24598.0,11038.0,NaN,NaN,NaN,POINT (NaN NaN),NaN
926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,POINT (NaN NaN),NaN

In [4]:
# Check what columns coukld  be converted 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 927 entries, 0 to 926
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bsn                 925 non-null    object
 1   school_name         925 non-null    object
 2   school_type_de      925 non-null    object
 3   ownership_en        925 non-null    object
 4   school_category_de  925 non-null    object
 5   district            925 non-null    object
 6   neighborhood        925 non-null    object
 7   postal_code         925 non-null    float64
 8   street              925 non-null    object
 9   street_number       925 non-null    object
 10  website             895 non-null    object
 11  school_year         925 non-null    object
 12  school_category_en  925 non-null    object
 13  total_students      704 non-null    float64
 14  students_f          705 non-null    float64
 15  students_m          705 non-null    float64
 16  teachers_total      706 non-null    float64
 17  teachers_f          705 non-null    float64
 18  teachers_m          700 non-null    float64
 19  startchancen_flag   925 non-null    object
 20  lon                 925 non-null    float64
 21  lat                 925 non-null    float64
 22  geometry            927 non-null    object
 23  siz                 925 non-null    float64
dtypes: float64(10), object(14)
memory usage: 173.9+ KB

In [6]:
# üîÑ Transform column types according to schema

df["bsn"] = df["bsn"].astype("string")

df[[
    "school_name", "school_type_de", "ownership_en", "school_category_de",
    "district", "neighborhood", "street", "street_number", "website",
    "school_year", "school_category_en", "startchancen_flag"
]] = df[[
    "school_name", "school_type_de", "ownership_en", "school_category_de",
    "district", "neighborhood", "street", "street_number", "website",
    "school_year", "school_category_en", "startchancen_flag"
]].astype("string")

df["postal_code"] = df["postal_code"].fillna(0).astype("int64")

df[[
    "total_students", "students_f", "students_m",
    "teachers_total", "teachers_f", "teachers_m", "siz"
]] = df[[
    "total_students", "students_f", "students_m",
    "teachers_total", "teachers_f", "teachers_m", "siz"
]].astype("Int64") #here i have many nan i think int64 instead float will cause less problems

df["lat"] = df["lat"].astype("float64")
df["lon"] = df["lon"].astype("float64")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 927 entries, 0 to 926
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bsn                 925 non-null    string
 1   school_name         925 non-null    string
 2   school_type_de      925 non-null    string
 3   ownership_en        925 non-null    string
 4   school_category_de  925 non-null    string
 5   district            925 non-null    string
 6   neighborhood        925 non-null    string
 7   postal_code         927 non-null    int64
 8   street              925 non-null    string
 9   street_number       925 non-null    string
 10  website             895 non-null    string
 11  school_year         925 non-null    string
 12  school_category_en  925 non-null    string
 13  total_students      704 non-null    Int64
 14  students_f          705 non-null    Int64
 15  students_m          705 non-null    Int64
 16  teachers_total      706 non-null    Int64
 17  teachers_f          705 non-null    Int64
 18  teachers_m          700 non-null    Int64
 19  startchancen_flag   925 non-null    string
 20  lon                 925 non-null    float64
 21  lat                 925 non-null    float64
 22  geometry            927 non-null    object
 23  siz                 925 non-null    Int64
dtypes: Int64(7), float64(2), int64(1), object(1), string(13)
memory usage: 180.3+ KB

In [7]:
# reviewer said it wasn't needed since i extracted lon lat aswell

df = df.drop(columns=["geometry"])

In [8]:
# Creating table and populating it
# Import necessary libraries

import psycopg2
from sqlalchemy import create_engine, text
import warnings

warnings.filterwarnings("ignore")

In [ ]:
# üåê Set up your NeonDB connection
DATABASE_URL = (
    "postgresql+psycopg2://neondb_owner:npg_CeS9fJg2azZD"
    "@ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech:5432/neondb"
    "?sslmode=require"
)

engine = create_engine(DATABASE_URL)

In [ ]:
# üèóÔ∏è Create table (if it doesn't exist)
with engine.connect() as conn:
    conn.execute(text('''
    CREATE TABLE IF NOT EXISTS test_berlin_data.schools (
        bsn VARCHAR(16) PRIMARY KEY,
        school_name VARCHAR(128) NOT NULL,
        school_type_de VARCHAR(64) NOT NULL,
        ownership_en VARCHAR(32) NOT NULL,
        school_category_de VARCHAR(64) NOT NULL,
        district VARCHAR(64) NOT NULL,
        neighborhood VARCHAR(64) NOT NULL,
        postal_code INT NOT NULL,
        street VARCHAR(64) NOT NULL,
        street_number VARCHAR(16) NOT NULL,
        website TEXT,
        school_year VARCHAR(16) NOT NULL,
        school_category_en VARCHAR(64) NOT NULL,
        total_students INT,
        students_f INT,
        students_m INT,
        teachers_total INT,
        teachers_f INT,
        teachers_m INT,
        startchancen_flag VARCHAR(16) NOT NULL,
        lon DOUBLE PRECISION NOT NULL,
        lat DOUBLE PRECISION NOT NULL,
        siz INT
    )
    '''))
    conn.commit()

In [9]:
print(df.columns.tolist())

['bsn', 'school_name', 'school_type_de', 'ownership_en', 'school_category_de', 'district', 'neighborhood', 'postal_code', 'street', 'street_number', 'website', 'school_year', 'school_category_en', 'total_students', 'students_f', 'students_m', 'teachers_total', 'teachers_f', 'teachers_m', 'startchancen_flag', 'lon', 'lat', 'siz']

In [10]:
#i decided to rename for clarification
df = df.rename(columns={"siz": "schoolinductionzones_id"})

In [11]:
print(df.columns.tolist())

['bsn', 'school_name', 'school_type_de', 'ownership_en', 'school_category_de', 'district', 'neighborhood', 'postal_code', 'street', 'street_number', 'website', 'school_year', 'school_category_en', 'total_students', 'students_f', 'students_m', 'teachers_total', 'teachers_f', 'teachers_m', 'startchancen_flag', 'lon', 'lat', 'schoolinductionzones_id']

In [14]:
# üì§ Export the cleaned & transformed dataset for DB insert (Step 3)
output_path = r"C:\Users\Maxdesk\Desktop\Webeet\berlin_schools\final\berlin_schools.csv"
df.to_csv(output_path, index=False)
print(f"‚úÖ Exported transformed data to {output_path}") #to reup that in my schools folder

‚úÖ Exported transformed data to C:\Users\Maxdesk\Desktop\Webeet\berlin_schools\final\berlin_schools.csv

In [ ]:
# üöÄ Upload your DataFrame to the NeonDB table
df.to_sql(
    name='berlin_schools',
    con=engine,
    schema='test_berlin_data',
    if_exists='append',  # Use 'replace' for testing or wiping before reupload
    index=False
)