In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('immowelt_berlin.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5260 entries, 0 to 5259
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   immo_id       5260 non-null   object
 1   title         5260 non-null   object
 2   address       5260 non-null   object
 3   zip_code      5260 non-null   int64
 4   latitude      5260 non-null   float64
 5   longitude     5260 non-null   float64
 6   contact_name  3121 non-null   object
 7   kitchen       3601 non-null   object
 8   balcony       4259 non-null   object
 9   garden        2089 non-null   object
 10  cellar        2598 non-null   object
 11  private       5260 non-null   bool
 12  rooms         5260 non-null   float64
 13  sqm           5260 non-null   int64
 14  rent          5260 non-null   float64
 15  extra_costs   3689 non-null   float64
 16  district      5260 non-null   object
 17  media_count   5260 non-null   int64
 18  url           5260 non-null   object
dtypes: bool(1), float64(5), int64(3), object(10)
memory usage: 745.0+ KB

In [4]:
for col in ['kitchen', 'balcony', 'garden', 'cellar', 'private']:
    print(f"Unique values in '{col}' column: {df[col].unique()}")

Unique values in 'kitchen' column: [nan True False]
Unique values in 'balcony' column: [nan False True]
Unique values in 'garden' column: [nan True False]
Unique values in 'cellar' column: [nan True False]
Unique values in 'private' column: [False  True]

In [5]:
for col in ['kitchen', 'balcony', 'garden', 'cellar', 'private']:
    # Fill NaN values with False before converting to int
    df[col] = df[col].fillna(False).astype(int)

display(df.head())
display(df.info())

/tmp/ipython-input-5-1104756290.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(False).astype(int)
/tmp/ipython-input-5-1104756290.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(False).astype(int)
/tmp/ipython-input-5-1104756290.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(False).astype(int)
/tmp/ipython-input-5-1104756290.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(False).astype(int)

,immo_id,title,address,zip_code,latitude,longitude,contact_name,kitchen,balcony,garden,cellar,private,rooms,sqm,rent,extra_costs,district,media_count,url
0,immowelt_ultimate_0_00001,"Elegante 5,5-Zimmer-Dachgeschoss in Berlin-Köp...",Potsdamer Platz 249,12559,52.399868,13.778443,Mitte Immobilien,0,0,0,0,0,5.5,176,3935.544500,NaN,Köpenick,6,https://www.immowelt.de/expose/berlin-köpenick-1
1,immowelt_ultimate_0_00002,Zentrale 1-Zimmer-Dachgeschoss in Berlin-Tegel,Thielallee 36,13509,52.542892,13.288570,Wedding Wohnen,0,0,1,1,1,1.0,24,325.399594,NaN,Tegel,24,https://www.immowelt.de/expose/berlin-tegel-2
2,immowelt_ultimate_0_00003,"Moderne 1,5-Zimmer-Zwischenetage in Berlin-Wil...",Neukölln 279,10707,52.327373,13.153030,Tempelhof Immobilien,1,0,0,0,1,1.5,42,2579.260287,149.07,Wilmersdorf,17,https://www.immowelt.de/expose/berlin-wilmersd...
3,immowelt_ultimate_0_00004,Sonnige 1-Zimmer-Gartenwohnung in Berlin-Treptow,Clayallee 5,12489,52.572061,13.578163,NaN,0,0,0,0,0,1.0,26,889.479585,351.25,Treptow,7,https://www.immowelt.de/expose/berlin-treptow-4
4,immowelt_ultimate_0_00005,Kernsanierte 2-Zimmer-Penthouse in Berlin-Temp...,Mehringdamm 84,12109,52.661071,13.300279,Berlin Living GmbH,0,0,0,1,0,2.0,65,1045.752209,NaN,Tempelhof,11,https://www.immowelt.de/expose/berlin-tempelhof-5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5260 entries, 0 to 5259
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   immo_id       5260 non-null   object
 1   title         5260 non-null   object
 2   address       5260 non-null   object
 3   zip_code      5260 non-null   int64
 4   latitude      5260 non-null   float64
 5   longitude     5260 non-null   float64
 6   contact_name  3121 non-null   object
 7   kitchen       5260 non-null   int64
 8   balcony       5260 non-null   int64
 9   garden        5260 non-null   int64
 10  cellar        5260 non-null   int64
 11  private       5260 non-null   int64
 12  rooms         5260 non-null   float64
 13  sqm           5260 non-null   int64
 14  rent          5260 non-null   float64
 15  extra_costs   3689 non-null   float64
 16  district      5260 non-null   object
 17  media_count   5260 non-null   int64
 18  url           5260 non-null   object
dtypes: float64(5), int64(8), object(6)
memory usage: 780.9+ KB

None

In [6]:
# Install required packages if not already installed (geopy and requests were installed earlier)
# !pip install geopy requests

import pandas as pd
from geopy.geocoders import Nominatim
import time
import requests

# Use Nominatim API with rate limiting
geolocator = Nominatim(user_agent="immowelt_colab_geocoder", timeout=10) # Using a user agent and timeout

def batch_geocode_details(df, batch_size=100): # Reduced batch size for potentially better stability
    results = []

    for i in range(0, len(df), batch_size):
        batch = df.iloc[i:i+batch_size]
        batch_results = []

        for idx, row in batch.iterrows():
            latitude = row['latitude']
            longitude = row['longitude']

            try:
                location = geolocator.reverse((latitude, longitude), exactly_one=True)
                if location and location.raw and 'address' in location.raw:
                    address = location.raw['address']
                    # Nominatim can return different address components, try common ones
                    neighbourhood = address.get('neighbourhood') or address.get('suburb') or address.get('city_district')
                    district = address.get('city_district') or address.get('suburb') or address.get('neighbourhood') or address.get('county')
                    batch_results.append({'neighbourhood': neighbourhood, 'district': district})
                else:
                    print(f"Could not geocode ({latitude}, {longitude}): No address found.")
                    batch_results.append(None)
            except (GeocoderTimedOut, GeocoderUnavailable) as e:
                 print(f"Geocoding service error for ({latitude}, {longitude}): {e}")
                 batch_results.append(None)
            except Exception as e:
                 print(f"An unexpected error occurred during geocoding for ({latitude}, {longitude}): {e}")
                 batch_results.append(None)

            # Add a small delay between requests within a batch
            time.sleep(1.5) # Increased delay slightly

        results.extend(batch_results)
        print(f"Processed batch {i//batch_size + 1}/{len(df)//batch_size + 1}")
        # Add a longer delay between batches
        time.sleep(5)

    return results

# Apply the batch geocoding function to the dataframe
geocoded_results = batch_geocode_details(df)

# Create new columns for the geocoded neighborhood and district from the results
df['geocoded_neighbourhood_nominatim'] = [x['neighbourhood'] if x else None for x in geocoded_results]
df['geocoded_district_nominatim'] = [x['district'] if x else None for x in geocoded_results]

display(df.head())
display(df.info())

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=10)")': /reverse?lat=52.31724&lon=13.124996&format=json&addressdetails=1

Processed batch 1/53
Processed batch 2/53
Processed batch 3/53
Processed batch 4/53
Processed batch 5/53
Processed batch 6/53
Processed batch 7/53
Processed batch 8/53
Processed batch 9/53
Processed batch 10/53
Processed batch 11/53
Processed batch 12/53
Processed batch 13/53
Processed batch 14/53
Processed batch 15/53
Processed batch 16/53
Processed batch 17/53
Processed batch 18/53
Processed batch 19/53
Processed batch 20/53

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=10)")': /reverse?lat=52.458304&lon=13.513338&format=json&addressdetails=1

Processed batch 21/53
Processed batch 22/53

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=10)")': /reverse?lat=52.332103&lon=13.565669&format=json&addressdetails=1

Processed batch 23/53
Processed batch 24/53
Processed batch 25/53
Processed batch 26/53
Processed batch 27/53
Processed batch 28/53
Processed batch 29/53
Processed batch 30/53
Processed batch 31/53
Processed batch 32/53
Processed batch 33/53
Processed batch 34/53
Processed batch 35/53

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=10)")': /reverse?lat=52.659336&lon=13.69567&format=json&addressdetails=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=10)")': /reverse?lat=52.614687&lon=13.671899&format=json&addressdetails=1

Processed batch 36/53
Processed batch 37/53
Processed batch 38/53
Processed batch 39/53
Processed batch 40/53
Processed batch 41/53
Processed batch 42/53
Processed batch 43/53
Processed batch 44/53
Processed batch 45/53
Processed batch 46/53
Processed batch 47/53
Processed batch 48/53
Processed batch 49/53
Processed batch 50/53
Processed batch 51/53
Processed batch 52/53
Processed batch 53/53

,immo_id,title,address,zip_code,latitude,longitude,contact_name,kitchen,balcony,garden,...,private,rooms,sqm,rent,extra_costs,district,media_count,url,geocoded_neighbourhood_nominatim,geocoded_district_nominatim
0,immowelt_ultimate_0_00001,"Elegante 5,5-Zimmer-Dachgeschoss in Berlin-Köp...",Potsdamer Platz 249,12559,52.399868,13.778443,Mitte Immobilien,0,0,0,...,0,5.5,176,3935.544500,NaN,Köpenick,6,https://www.immowelt.de/expose/berlin-köpenick-1,None,Oder-Spree
1,immowelt_ultimate_0_00002,Zentrale 1-Zimmer-Dachgeschoss in Berlin-Tegel,Thielallee 36,13509,52.542892,13.288570,Wedding Wohnen,0,0,1,...,1,1.0,24,325.399594,NaN,Tegel,24,https://www.immowelt.de/expose/berlin-tegel-2,Charlottenburg-Nord,Charlottenburg-Nord
2,immowelt_ultimate_0_00003,"Moderne 1,5-Zimmer-Zwischenetage in Berlin-Wil...",Neukölln 279,10707,52.327373,13.153030,Tempelhof Immobilien,1,0,0,...,1,1.5,42,2579.260287,149.07,Wilmersdorf,17,https://www.immowelt.de/expose/berlin-wilmersd...,None,Potsdam-Mittelmark
3,immowelt_ultimate_0_00004,Sonnige 1-Zimmer-Gartenwohnung in Berlin-Treptow,Clayallee 5,12489,52.572061,13.578163,NaN,0,0,0,...,0,1.0,26,889.479585,351.25,Treptow,7,https://www.immowelt.de/expose/berlin-treptow-4,Marzahn,Ahrensfelde
4,immowelt_ultimate_0_00005,Kernsanierte 2-Zimmer-Penthouse in Berlin-Temp...,Mehringdamm 84,12109,52.661071,13.300279,Berlin Living GmbH,0,0,0,...,0,2.0,65,1045.752209,NaN,Tempelhof,11,https://www.immowelt.de/expose/berlin-tempelhof-5,Bergfelde,Bergfelde

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5260 entries, 0 to 5259
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   immo_id                           5260 non-null   object
 1   title                             5260 non-null   object
 2   address                           5260 non-null   object
 3   zip_code                          5260 non-null   int64
 4   latitude                          5260 non-null   float64
 5   longitude                         5260 non-null   float64
 6   contact_name                      3121 non-null   object
 7   kitchen                           5260 non-null   int64
 8   balcony                           5260 non-null   int64
 9   garden                            5260 non-null   int64
 10  cellar                            5260 non-null   int64
 11  private                           5260 non-null   int64
 12  rooms                             5260 non-null   float64
 13  sqm                               5260 non-null   int64
 14  rent                              5260 non-null   float64
 15  extra_costs                       3689 non-null   float64
 16  district                          5260 non-null   object
 17  media_count                       5260 non-null   int64
 18  url                               5260 non-null   object
 19  geocoded_neighbourhood_nominatim  3502 non-null   object
 20  geocoded_district_nominatim       5244 non-null   object
dtypes: float64(5), int64(8), object(8)
memory usage: 863.1+ KB

None

In [11]:
# Remove the 'district' column from the DataFrame
df = df.drop('district', axis=1)

display(df.head())
display(df.info())

KeyError: "['district'] not found in axis"

In [12]:
df = df.rename(columns={'geocoded_neighbourhood_nominatim': 'neighborhood', 'geocoded_district_nominatim': 'district'})
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5260 entries, 0 to 5259
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   immo_id       5260 non-null   object
 1   title         5260 non-null   object
 2   address       5260 non-null   object
 3   zip_code      5260 non-null   int64
 4   latitude      5260 non-null   float64
 5   longitude     5260 non-null   float64
 6   contact_name  3121 non-null   object
 7   kitchen       5260 non-null   int64
 8   balcony       5260 non-null   int64
 9   garden        5260 non-null   int64
 10  cellar        5260 non-null   int64
 11  private       5260 non-null   int64
 12  rooms         5260 non-null   float64
 13  sqm           5260 non-null   int64
 14  rent          5260 non-null   float64
 15  extra_costs   3689 non-null   float64
 16  media_count   5260 non-null   int64
 17  url           5260 non-null   object
 18  neighborhood  3502 non-null   object
 19  district      5244 non-null   object
dtypes: float64(5), int64(8), object(7)
memory usage: 822.0+ KB

None

In [16]:
# Export the cleaned and transformed DataFrame to a CSV file
df.to_csv('long_term_rentals.csv', index=False)

In [43]:
import psycopg2
from sqlalchemy import create_engine, text
import warnings
warnings.filterwarnings("ignore")

In [50]:
# SQLAlchemy connection string format:
# postgresql+psycopg2://user:password@host:port/dbname

DATABASE_URL = (
    "postgresql+psycopg2://neondb_owner:npg_CeS9fJg2azZD"
    "@ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech:5432/neondb"
    "?sslmode=require"
)

# Create engine and establish connection
engine = create_engine(DATABASE_URL)

In [51]:
df.to_sql(
    name='long_term_rentals',
    con=engine,
    schema='test_berlin_data',
    if_exists='replace',
    index=False
)

260

In [52]:
# Define the SQL CREATE TABLE statement
drop_create_sql = """
DROP TABLE IF EXISTS test_berlin_data.long_term_rentals;

CREATE TABLE IF NOT EXISTS test_berlin_data.long_term_rentals (
             immo_id VARCHAR(50) NOT NULL PRIMARY KEY,
             title VARCHAR(150) NOT NULL,
             address VARCHAR(150) NOT NULL,
             zip_code INTEGER NOT NULL,
             latitude DECIMAL(9, 6) NOT NULL,
             longitude DECIMAL(9, 6) NOT NULL,
             contact_name VARCHAR(100) NOT NULL,
             kitchen INTEGER NULL,
             balcony INTEGER NULL,
             garden INTEGER NULL,
             cellar INTEGER NULL,
             private INTEGER NULL,
             rooms DECIMAL(3, 1) NOT NULL,
             sqm INTEGER NOT NULL,
             rent DECIMAL(9, 2) NOT NULL,
             extra_costs DECIMAL(9, 2) NULL,
             media_count INT2 NULL,
             url VARCHAR(200) NOT NULL,
             neighborhood VARCHAR(100),
             district VARCHAR(100), -- FOREIGN KEY
             FOREIGN KEY (district) REFERENCES test_berlin_data.neighborhood(neighborhood) ON DELETE CASCADE
);
     """

# Execute the CREATE TABLE statement
with engine.connect() as conn:
    conn.execute(text(create_table_sql))

print("CREATE TABLE statement was executed")

CREATE TABLE statement was executed