In [16]:
import geopandas as gpd
import pandas as pd
import json
import os
import sys
import logging
from pathlib import Path
from typing import List, Dict, Any
from dotenv import load_dotenv
load_dotenv()

False

In [17]:
# open /Users/zeal.v/Desktop/Webeet-Internship/milieuschutz-populating-db/layered-populate-data-pool-da/milieuschutz-populating-db/experimenting_folder/alkis_bezirke_bezirksgrenzen_WGS84.geojson and /Users/zeal.v/Desktop/Webeet-Internship/milieuschutz-populating-db/layered-populate-data-pool-da/milieuschutz-populating-db/experimenting_folder/alkis_bezirke_bezirksgrenzen_WGS84.csv
bezirks_geojson_path = Path("/Users/zeal.v/Desktop/Webeet-Internship/milieuschutz-populating-db/layered-populate-data-pool-da/milieuschutz-populating-db/experimenting_folder/alkis_bezirke_bezirksgrenzen_WGS84.geojson")
bezirks_csv_path = Path("/Users/zeal.v/Desktop/Webeet-Internship/milieuschutz-populating-db/layered-populate-data-pool-da/milieuschutz-populating-db/experimenting_folder/alkis_bezirke_bezirksgrenzen_WGS84.csv")

# Load GeoJSON data
bezirks_geojson = gpd.read_file(bezirks_geojson_path)
# Load CSV data
bezirks_csv = pd.read_csv(bezirks_csv_path)

In [18]:
bezirks_geojson

,id,name,gem,namgem,namlan,lan,geometry
0,bezirksgrenzen.11000001,11000001,001,Mitte,Berlin,11,"MULTIPOLYGON (((13.379 52.507, 13.382 52.507, ..."
1,bezirksgrenzen.11000002,11000002,002,Friedrichshain-Kreuzberg,Berlin,11,"MULTIPOLYGON (((13.469 52.501, 13.469 52.501, ..."
2,bezirksgrenzen.11000003,11000003,003,Pankow,Berlin,11,"MULTIPOLYGON (((13.507 52.648, 13.507 52.649, ..."
3,bezirksgrenzen.11000004,11000004,004,Charlottenburg-Wilmersdorf,Berlin,11,"MULTIPOLYGON (((13.337 52.491, 13.338 52.491, ..."
4,bezirksgrenzen.11000005,11000005,005,Spandau,Berlin,11,"MULTIPOLYGON (((13.192 52.499, 13.193 52.499, ..."
5,bezirksgrenzen.11000006,11000006,006,Steglitz-Zehlendorf,Berlin,11,"MULTIPOLYGON (((13.343 52.412, 13.343 52.412, ..."
6,bezirksgrenzen.11000007,11000007,007,Tempelhof-Schöneberg,Berlin,11,"MULTIPOLYGON (((13.388 52.387, 13.388 52.386, ..."
7,bezirksgrenzen.11000008,11000008,008,Neukölln,Berlin,11,"MULTIPOLYGON (((13.453 52.486, 13.453 52.486, ..."
8,bezirksgrenzen.11000009,11000009,009,Treptow-Köpenick,Berlin,11,"MULTIPOLYGON (((13.574 52.477, 13.574 52.477, ..."
9,bezirksgrenzen.11000010,11000010,010,Marzahn-Hellersdorf,Berlin,11,"MULTIPOLYGON (((13.628 52.492, 13.629 52.492, ..."
10,bezirksgrenzen.11000011,11000011,011,Lichtenberg,Berlin,11,"MULTIPOLYGON (((13.519 52.514, 13.519 52.514, ..."
11,bezirksgrenzen.11000012,11000012,012,Reinickendorf,Berlin,11,"MULTIPOLYGON (((13.375 52.607, 13.376 52.607, ..."

In [19]:
bezirks_geojson.dtypes

id            object
name          object
gem           object
namgem        object
namlan        object
lan           object
geometry    geometry
dtype: object

In [20]:
bezirks_geojson.columns

Index(['id', 'name', 'gem', 'namgem', 'namlan', 'lan', 'geometry'], dtype='object')

In [21]:
# chose only gem and namgem
districts_id = bezirks_geojson[['gem', 'namgem']]
districts_id

    gem                      namgem
0   001                       Mitte
1   002    Friedrichshain-Kreuzberg
2   003                      Pankow
3   004  Charlottenburg-Wilmersdorf
4   005                     Spandau
5   006         Steglitz-Zehlendorf
6   007        Tempelhof-Schöneberg
7   008                    Neukölln
8   009            Treptow-Köpenick
9   010         Marzahn-Hellersdorf
10  011                 Lichtenberg
11  012               Reinickendorf

In [22]:
# rename columns
districts_id = districts_id.rename(columns={'gem': 'district_id', 'namgem': 'district'})
districts_id

   district_id                    district
0          001                       Mitte
1          002    Friedrichshain-Kreuzberg
2          003                      Pankow
3          004  Charlottenburg-Wilmersdorf
4          005                     Spandau
5          006         Steglitz-Zehlendorf
6          007        Tempelhof-Schöneberg
7          008                    Neukölln
8          009            Treptow-Köpenick
9          010         Marzahn-Hellersdorf
10         011                 Lichtenberg
11         012               Reinickendorf

In [23]:
districts_id['district_id'] = districts_id['district_id'].str.replace(r'^0', '', regex=True)
districts_id

   district_id                    district
0           01                       Mitte
1           02    Friedrichshain-Kreuzberg
2           03                      Pankow
3           04  Charlottenburg-Wilmersdorf
4           05                     Spandau
5           06         Steglitz-Zehlendorf
6           07        Tempelhof-Schöneberg
7           08                    Neukölln
8           09            Treptow-Köpenick
9           10         Marzahn-Hellersdorf
10          11                 Lichtenberg
11          12               Reinickendorf

In [31]:
districts_id = districts_id.astype({'district_id': 'string', 'district': 'string'})
districts_id

   district_id                    district
0           01                       Mitte
1           02    Friedrichshain-Kreuzberg
2           03                      Pankow
3           04  Charlottenburg-Wilmersdorf
4           05                     Spandau
5           06         Steglitz-Zehlendorf
6           07        Tempelhof-Schöneberg
7           08                    Neukölln
8           09            Treptow-Köpenick
9           10         Marzahn-Hellersdorf
10          11                 Lichtenberg
11          12               Reinickendorf

In [32]:
districts_id.dtypes

district_id    string[python]
district       string[python]
dtype: object

In [33]:
# export districts_id to CSV
output_csv_path = Path("/Users/zeal.v/Desktop/Webeet-Internship/milieuschutz-populating-db/layered-populate-data-pool-da/milieuschutz-populating-db/experimenting_folder/districts_id.csv")
districts_id.to_csv(output_csv_path, index=False)